.home-page {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align elements horizontally */
  padding: 1rem;
  background-color: #333;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.quick-search {
  display: flex;
  align-items: center;
  position: relative; /* Position relative for absolute positioning of suggestions */
}

.quick-search input {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.quick-search button {
  border-radius: 0;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.quick-search button img {
  width: 20px;
  height: 20px;
}

.advanced-search-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center; /* Align vertically the icon with the text */
}

.advanced-search-button .chapeau-icon {
  width: 25px;
  height: 25px;
  margin-right: 0.5rem; /* Space between the icon and the text */
}

.advanced-search-button:hover {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #333;
  text-decoration: underline;
  color: white;
  border: none;
  cursor: pointer;
}

.main-content {
  padding: 1rem;
}

.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.highlight-article {
  flex: 1 1 calc(33% - 1rem);
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: center;
}

.highlight-article img {
  max-width: 100%;
  height: auto;
}

.article-info {
  margin-top: 1rem;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: calc(100% + 0.5rem); /* Position the suggestions below the quick search input */
  left: 0; /* Align the suggestions with the left edge of the input */
  width: 100%; /* Make the suggestions span the full width */
  border-radius: 0.5rem; /* Apply the same border radius as the quick search input */
}

.suggestions li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #ddd;
}


.details-search-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #333;
  border: none;
  cursor: pointer;
  align-items: center; /* Align vertically the icon with the text */
}

.details-search-button .details-icon {
  width: 25px;
  height: 15px;
  margin-right: 0.5rem; /* Space between the icon and the text */
}

.details-search-button:hover {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #ffffff;
  text-decoration: underline;
  color: #333;
  border: none;
  cursor: pointer;
}

.quick-search input.empty-search {
  border: 2px solid red;
}

